/* större än 750 bredd => stor skärm */

@media (min-width: 750px) {
    .albums {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        justify-content: center;        
        gap: 2rem;
        padding: 2rem;
    } 
    .album-card {
        border: 0.4rem solid turquoise;
        height: 20rem;
    }
    .album-card img {
        height: 85%;
    }
    #albumname {
        font-size: 2rem;
    }
/* Albumens bilder nedan */
.pictures-grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: center;        
    gap: 2rem;
    padding: 2rem;
}
.pictures-grid img {
    border: 0.4rem solid turquoise;
    height: 20rem;    
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    object-fit: cover; 
}
#backbutton{
    margin-left: 2rem;
}
/* Modal nedan */
.modal-image {
    max-width: 90%;
    max-height: 90%;
}
.modal-close-button {
    font-size: 2rem;
    top: 2rem;
    right: 15%;
} 
}